#hero {
    background-image: url(../images/hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: blue;
  }

  .d-flex {
    height: 80vh;
  }